
/* Add your profile image here */
.Photo{
    background-image: url('/Users/rb3/Desktop/Bootcamp/react_portfolio/src/styles/images/Greenshot 2021-04-10 09.24.45.png');
}
/* Projects Photo */
.project1{
    background-image: url('/Users/rb3/Desktop/Bootcamp/react_portfolio/src/styles/images/Adv. finder screenshot.png');
    cursor: none;    
}
.project2{
    background-image: url('/Users/rb3/Desktop/Bootcamp/react_portfolio/src/styles/images/password_generator.png');
    cursor: none;
}
.project3{
    background-image: url('/Users/rb3/Desktop/Bootcamp/react_portfolio/src/styles/images/code_quiz_screenshot.png');
    cursor: none;
}
.project4{
    background-image: url('/Users/rb3/Desktop/Bootcamp/react_portfolio/src/styles/images/weatherDashboard.png');
    cursor: none;
}
.project5{
    background-image: url('https://via.placeholder.com/400x600.png?text=Project+five');
    cursor: none;
}
.project6{
    background-image: url('https://via.placeholder.com/400x600.png?text=Project+six');
    cursor: none;
}
/* Miscelaneous Activities photo */
.misc1{
    background-image: url('https://via.placeholder.com/400x600.png?text=Miscellaneous+one');
    cursor: none;
}
.misc2{
    background-image: url('https://via.placeholder.com/400x600.png?text=Miscellaneous+two');
    cursor: none;
}
.misc3{
    background-image: url('https://via.placeholder.com/400x600.png?text=Miscellaneous+three');
    cursor: none;
}